**Estelle Doriot**

_NSI Tale_

---

# Cours : Compléments sur les collections

---

## Chaînes de caractères

In [1]:
a = "bonjour"  # création d'une chaîne de caractères
print("b" in a)
print(len(a))  # longueur
print("bonjour" == "bye")  # test d'égalité
print("bonjour" < "bye")  # ordre alphabétique
print(a[3])  # extraction d'un caractère
print(a[3:5])  # extraction d'une sous-chaîne
print("bonjour" + " " + "Marie")  # concaténation
print("bonjour" * 3)  # duplication

True
7
False
True
j
jo
bonjour Marie
bonjourbonjourbonjour

In [11]:
texte_alice = """Alice, assise auprès de sa sœur sur le gazon, commençait à s'ennuyer de rester là à ne rien faire; une ou deux fois elle avait jeté les yeux sur le livre que lisait sa sœur; mais quoi! pas d'images, pas de dialogues! "La belle avance," pensait Alice, "qu'un livre sans images, sans causeries!"."""

print(texte_alice.upper())  # met le texte en majuscules
print(texte_alice.lower())  # met le texte en minuscules
print(texte_alice.capitalize())  # met la première lettre en majuscule
print(texte_alice.title())  # met la première lettre de chaque mot en majuscule
print(texte_alice.index("g"))  # indice de la première occurrence de 'g'
print(texte_alice.count("a"))  # nombre de 'a'
print(texte_alice.find("gazon"))  # position de "gazon"
print(texte_alice.replace("Alice", "Marie"))  # remplace une sous-chaîne par une autre
print("   23   ".strip())  # supprime les espaces à droite et à gauche

ALICE, ASSISE AUPRÈS DE SA SŒUR SUR LE GAZON, COMMENÇAIT À S'ENNUYER DE RESTER LÀ À NE RIEN FAIRE; UNE OU DEUX FOIS ELLE AVAIT JETÉ LES YEUX SUR LE LIVRE QUE LISAIT SA SŒUR; MAIS QUOI! PAS D'IMAGES, PAS DE DIALOGUES! "LA BELLE AVANCE," PENSAIT ALICE, "QU'UN LIVRE SANS IMAGES, SANS CAUSERIES!".
alice, assise auprès de sa sœur sur le gazon, commençait à s'ennuyer de rester là à ne rien faire; une ou deux fois elle avait jeté les yeux sur le livre que lisait sa sœur; mais quoi! pas d'images, pas de dialogues! "la belle avance," pensait alice, "qu'un livre sans images, sans causeries!".
Alice, assise auprès de sa sœur sur le gazon, commençait à s'ennuyer de rester là à ne rien faire; une ou deux fois elle avait jeté les yeux sur le livre que lisait sa sœur; mais quoi! pas d'images, pas de dialogues! "la belle avance," pensait alice, "qu'un livre sans images, sans causeries!".
Alice, Assise Auprès De Sa Sœur Sur Le Gazon, Commençait À S'Ennuyer De Rester Là À Ne Rien Faire; Une Ou Deux Fois Elle Avait Jeté Les Yeux Sur Le Livre Que Lisait Sa Sœur; Mais Quoi! Pas D'Images, Pas De Dialogues! "La Belle Avance," Pensait Alice, "Qu'Un Livre Sans Images, Sans Causeries!".
39
23
39
Marie, assise auprès de sa sœur sur le gazon, commençait à s'ennuyer de rester là à ne rien faire; une ou deux fois elle avait jeté les yeux sur le livre que lisait sa sœur; mais quoi! pas d'images, pas de dialogues! "La belle avance," pensait Marie, "qu'un livre sans images, sans causeries!".
23

In [13]:
print(texte_alice.split())

['Alice,', 'assise', 'auprès', 'de', 'sa', 'sœur', 'sur', 'le', 'gazon,', 'commençait', 'à', "s'ennuyer", 'de', 'rester', 'là', 'à', 'ne', 'rien', 'faire;', 'une', 'ou', 'deux', 'fois', 'elle', 'avait', 'jeté', 'les', 'yeux', 'sur', 'le', 'livre', 'que', 'lisait', 'sa', 'sœur;', 'mais', 'quoi!', 'pas', "d'images,", 'pas', 'de', 'dialogues!', '"La', 'belle', 'avance,"', 'pensait', 'Alice,', '"qu\'un', 'livre', 'sans', 'images,', 'sans', 'causeries!".']

In [14]:
entete = "nom,prenom,age,adresse,email,telephone"
champs = entete.split(",")
print(champs)

['nom', 'prenom', 'age', 'adresse', 'email', 'telephone']

In [15]:
print(", ".join(champs))

nom, prenom, age, adresse, email, telephone

In [16]:
notes = [10, 12, 15, 18, 20]
# print(", ".join(notes))
print(", ".join(str(note) for note in notes))

10, 12, 15, 18, 20

In [18]:
ch1 = "Les sanglots longs des violons de l'automne"
ch2 = ""

for lettre in ch1:
    if lettre in "aeiouy":
        ch2 += lettre

print(ch2)

eaooeiooeauoe

In [19]:
ch1 = "Les sanglots longs des violons de l'automne"
ch2 = "".join(lettre for lettre in ch1 if lettre in "aeiouy")
print(ch2)

eaooeiooeauoe

In [20]:
print("Bonjour".isupper())
print("bonjour".islower())
print("Bonjour".istitle())
print("Bonjour".isalpha())
print("12/04/21".isdigit())
print("12/04/21".isalnum())
print("Bonjour".startswith("Bon"))
print("Bonjour".endswith("jour"))

False
True
True
True
False
False
True
True

In [22]:
prenom = "John"
age = 30
print(f"Bonjour {prenom}, tu as {age} ans.")

Bonjour John, tu as 30 ans.

In [23]:
from math import pi

print(f"2 pi avec 2 chiffres après la virgule {2*pi:.2f}")

2 pi avec 2 chiffres après la virgule 6.28

In [27]:
x = 21

print(f"{x:04d}")  # 4 caractères avec des 0 au début

y = 0.123456789

print(
    f"{x:06.2f}"
)  # 6 chiffres au total, 2 chiffres après la virgule, complété par des 0 à gauche

comptes = [("Marie", "Dupont", 124), ("Jean", "Martineau", 1250)]
for prenom, nom, solde in comptes:
    print(f"{prenom:<10} -- {nom:^12} -- {solde:>8} €")

0021
021.00
Marie      --    Dupont    --      124 €
Jean       --  Martineau   --     1250 €

## Tuples

In [28]:
t1 = (1, 4, "bonjour", 4.6)
t2 = ()  # un tuple vide
t3 = ("a",)  # un tuple à 1 élément (la virgule est obligatoire)

In [31]:
t = tuple(i for i in range(20) if i % 3 == 0)
print(t)

(0, 3, 6, 9, 12, 15, 18)

In [30]:
t1 = (1, 4, "bonjour", 4.6)  # création d'un tuple
t2 = ()
print("bonjour" in t1)  # appartenance
print(len(t1))  # longueur
print(t1 == t2)  # test d'égalité
print((1, 4, 5) < (2, 2, 2))  # relation d'ordre
print(t1[1])  # extraction d'un élément
print(t1[1:3])  # extraction d'un sous-tuple
t3 = ("a",)
print(t1 + t3)  # concaténation
print(t3 * 4)  # duplication
t = (5, 3, 9, 12)
print(min(t))  # minimum
print(max(t))  # maximum

True
4
False
True
4
(4, 'bonjour')
(1, 4, 'bonjour', 4.6, 'a')
('a', 'a', 'a', 'a')
3
12

## Listes

In [32]:
lst = [i for i in range(20) if i % 3 == 0]
print(lst)

[0, 3, 6, 9, 12, 15, 18]

In [33]:
lst1 = [1, 2, 3, 4]
lst2 = [10, 20, 30, 40]
print(15 in lst2)  # appartenance
print(len(lst1))  # longueur
print(lst1 == lst2)  # test d'égalité
print(lst1[1])  # extraction d'un élément
print(lst1[1:3])  # extraction d'un sous-tuple
print(lst1 + lst2)  # concaténation
print(lst1 * 3)  # duplication
print(min(lst1))  # minimum
print(max(lst2))  # maximum

False
4
False
2
[2, 3]
[1, 2, 3, 4, 10, 20, 30, 40]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
1
40

In [34]:
l1 = ["Bilbo", "Gandalf", "Aragorn", "Légolas"]
print(l1)
l1.append("Arwen")  # Arwen est ajoutée à la fin de la liste
print(l1)
l1.extend(["Elrond", "Galadriel"])  # On ajoute Elrond et Galadriel à la fin de la liste
print(l1)
l1.insert(2, "Gimli")  # Gimli est ajouté en position 2
print(l1)
print(l1.index("Aragorn"))  # Aragorn est en position 3
print(l1.count("Aragorn"))  # Aragorn est présent 1 fois dans la liste
l1.remove("Gandalf")  # On retire Gandalf de la liste
print(l1)
l1.pop(0)  # On retire Bilbo de la liste
print(l1)
l1.pop()  # On retire Galadriel de la liste
print(l1)
l1.reverse()  # l'ordre des éléments de la liste est renversé
print(l1)
l1.sort()  # la liste est triée (dans l'ordre alphabétique)
print(l1)

['Bilbo', 'Gandalf', 'Aragorn', 'Légolas']
['Bilbo', 'Gandalf', 'Aragorn', 'Légolas', 'Arwen']
['Bilbo', 'Gandalf', 'Aragorn', 'Légolas', 'Arwen', 'Elrond', 'Galadriel']
['Bilbo', 'Gandalf', 'Gimli', 'Aragorn', 'Légolas', 'Arwen', 'Elrond', 'Galadriel']
3
1
['Bilbo', 'Gimli', 'Aragorn', 'Légolas', 'Arwen', 'Elrond', 'Galadriel']
['Gimli', 'Aragorn', 'Légolas', 'Arwen', 'Elrond', 'Galadriel']
['Gimli', 'Aragorn', 'Légolas', 'Arwen', 'Elrond']
['Elrond', 'Arwen', 'Légolas', 'Aragorn', 'Gimli']
['Aragorn', 'Arwen', 'Elrond', 'Gimli', 'Légolas']

## Itérer sur les séquences

### sorted

In [37]:
liste_pokemons = [
    "Abra",
    "Pikachu",
    "Mewtwo",
    "Bulbizarre",
    "Evoli",
    "Salamèche",
    "Papillusion",
]

print(sorted(liste_pokemons))
print(sorted(liste_pokemons, reverse=True))
print(sorted(liste_pokemons, key=len))

['Abra', 'Bulbizarre', 'Evoli', 'Mewtwo', 'Papillusion', 'Pikachu', 'Salamèche']
['Salamèche', 'Pikachu', 'Papillusion', 'Mewtwo', 'Evoli', 'Bulbizarre', 'Abra']
['Abra', 'Evoli', 'Mewtwo', 'Pikachu', 'Salamèche', 'Bulbizarre', 'Papillusion']

### min et max

In [43]:
print(min(liste_pokemons))  # premier mot dans l'ordre lexicographique
print(max(liste_pokemons, key=len))  # nom le plus long
print(min((pokemon for pokemon in liste_pokemons if len(pokemon) == 8), default=None))

Abra
Papillusion
None

### any et all

In [44]:
print(all([True, True, True, False]))
print(any([True, True, True, False]))

temperatures = [12.5, 32.7, 15.8, 28.3, 3.9, 14.6]


def toutes_positives(temperatures: list) -> bool:
    for temperature in temperatures:
        if temperature < 0:
            return False
    return True


def toutes_positives2(temperatures: list) -> bool:
    return all(temperature >= 0 for temperature in temperatures)


def une_positive(temperatures: list) -> bool:
    for temperature in temperatures:
        if temperature >= 0:
            return True
    return False


def une_positive2(temperatures: list) -> bool:
    return any(temperature >= 0 for temperature in temperatures)

False
True

### next

In [ ]:
for i in range(245, 327):
    if i % 17 == 0:
        break

next(i for i in range(245, 327) if i % 17 == 0)

### enumerate et zip

In [1]:
villes = ["Paris", "Nice", "Lyon"]
for i, ville in enumerate(villes):
    print(i, ville)

0 Paris
1 Nice
2 Lyon

In [10]:
villes = ["Paris", "Nice", "Lyon"]
populations = [2 * 10**6, 4 * 10**5, 10**6]
liste_zipee = list(zip(villes, populations))
print(liste_zipee)

for ville, population in zip(villes, populations):
    print(population, "habitants à", ville)

villes2, pop2 = zip(*liste_zipee)
print(villes2)
print(pop2)

[('Paris', 2000000), ('Nice', 400000), ('Lyon', 1000000)]
2000000 habitants à Paris
400000 habitants à Nice
1000000 habitants à Lyon
('Paris', 'Nice', 'Lyon')
(2000000, 400000, 1000000)

### sum

In [12]:
total = 0
for i in range(1, 21):
    if i % 2 == 0:
        total += i
print(total)

110

In [13]:
print(sum(i for i in range(1, 21) if i % 2 == 0))

110

In [14]:
mots = ["bonjour", "pain", "déjeuner", "boulangerie", "restaurant", "viande", "sushi"]

print(sum(1 for mot in mots if len(mot) % 2 == 0))

4

## Ensembles

In [1]:
lst = [3, 1, 2, 4, 5, 2, 3]
s = set(lst)
print(s)

{1, 2, 3, 4, 5}

In [2]:
s2 = {x * x for x in range(10)}
print(s2)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [3]:
s1 = {"a", "b", "c", "d"}
s2 = {"a", "c", "e", "g"}
print("a" in s1)  # appartenance
print(len(s1))  # longueur
print(s1 == s2)  # égalité
print({"a", "b"} < s1)  # sous-ensemble
print(s1 | s2)  # union ensembliste
print(s1 & s2)  # intersection ensembliste
print(s1 - s2)  # différence ensembliste
print(s1 ^ s2)  # différence symétrique

True
4
False
True
{'b', 'g', 'e', 'd', 'c', 'a'}
{'c', 'a'}
{'b', 'd'}
{'b', 'g', 'e', 'd'}

In [4]:
print(s1[2])

TypeError: 'set' object is not subscriptable

In [5]:
for x in s1:
    print(x)

c
d
b
a

In [7]:
s1.add("a")
print(s1)
s1.update(s2)
print(s1)

{'c', 'd', 'b', 'a'}
{'b', 'g', 'e', 'd', 'c', 'a'}

In [8]:
s1.remove("k")

KeyError: 'k'

In [11]:
s1.discard("k")
print(s1)
s1.discard("a")
print(s1)

{'b', 'g', 'e', 'd', 'c', 'a'}
{'b', 'g', 'e', 'd', 'c'}

## Dictionnaires

In [13]:
personnage = {"nom": "Alice", "taille": 176, "age": 25}
personnage = dict(nom="Alice", taille=176, age=25)
print(personnage)
personnage = dict([("nom", "Alice"), ("taille", 176), ("age", 25)])
print(personnage)

{'nom': 'Alice', 'taille': 176, 'age': 25}
{'nom': 'Alice', 'taille': 176, 'age': 25}

In [14]:
mots = ["bonjour", "dhik2kj4lkjh", "demain", "12grand", "hier"]
dico = {mot: len(mot) for mot in mots if mot.isalpha()}
print(dico)

{'bonjour': 7, 'demain': 6, 'hier': 4}