**Estelle Doriot**

---

# Structures de données avancées

---

### Enum

In [11]:
today = "Lundi"

if today == "lundi":
    print("Nous somme le premier jour de la semaine")

In [12]:
LUNDI = 1
MARDI = 2


def activité(jour):
    if jour == LUNDI:
        print("Il y a tennis")
    elif jour == MARDI:
        print("Il y a piscine")

In [13]:
from enum import Enum


class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3


Colour = Enum("Colour", ["RED", "GREEN", "BLUE"])

In [16]:
Jour = Enum(
    "Jour", ["LUNDI", "MARDI", "MERCREDI", "JEUDI", "VENDREDI", "SAMEDI", "DIMANCHE"]
)

courant = Jour.MERCREDI
debut = Jour.LUNDI


def activité(jour: Jour):
    if jour == Jour.LUNDI:
        print("Il y a tennis")
    elif jour == Jour.MARDI:
        print("Il y a piscine")

In [18]:
print(Color.BLUE.name)
print(Color.RED.value)

BLUE
1

### Namedtuple

In [2]:
from collections import namedtuple

Monument = namedtuple("Monument", "latitude longitude nom ville")
tour_eiffel = Monument(48.85826, 2.2945, "Tour Eiffel", "Paris")
print(tour_eiffel)

Monument(latitude=48.85826, longitude=2.2945, nom='Tour Eiffel', ville='Paris')

In [3]:
tour_eiffel = Monument(48.85826, 2.2945, "Tour Eiffel")

TypeError: Monument.__new__() missing 1 required positional argument: 'ville'

### Dataclass

In [4]:
from dataclasses import dataclass


@dataclass
class Monument:
    latitude: float
    longitude: float
    nom: str
    ville: str

In [5]:
tour_eiffel = Monument(48.85826, 2.2945, "Tour Eiffel", "Paris")
print(tour_eiffel)

Monument(latitude=48.85826, longitude=2.2945, nom='Tour Eiffel', ville='Paris')

In [6]:
from dataclasses import astuple, asdict

print(astuple(tour_eiffel))
print(asdict(tour_eiffel))

(48.85826, 2.2945, 'Tour Eiffel', 'Paris')
{'latitude': 48.85826, 'longitude': 2.2945, 'nom': 'Tour Eiffel', 'ville': 'Paris'}

In [7]:
tour_eiffel.pays = "France"
tour_eiffel.longitude = -54.5889  # oups!

In [8]:
from dataclasses import field


@dataclass(frozen=True)
class Monument:
    latitude: float = field(repr=False)
    longitude: float = field(repr=False)
    nom: str
    ville: str
    pays: str = field(repr=False, default="")


tour_eiffel = Monument(48.85826, 2.2945, "Tour Eiffel", "Paris", "France")

In [9]:
print(tour_eiffel)
print(tour_eiffel.pays)

Monument(nom='Tour Eiffel', ville='Paris')
France

In [10]:
tour_eiffel.longitude = -54.5889

FrozenInstanceError: cannot assign to field 'longitude'

In [2]:
from dataclasses import dataclass, field


@dataclass
class Monument:
    latitude: float = field(repr=False)
    longitude: float = field(repr=False)
    nom: str
    ville: str
    visites: list = field(default_factory=list)

In [3]:
tour_eiffel = Monument(48.85826, 2.2945, "Tour Eiffel", "Paris")
tour_eiffel.visites.append("25 décembre")
print(tour_eiffel)

Monument(nom='Tour Eiffel', ville='Paris', visites=['25 décembre'])

In [4]:
@dataclass(order=True)
class Investor:
    sort_index: float = field(init=False, repr=False)
    name: str
    age: int
    cash: float

    def __post_init__(self):
        self.sort_index = self.cash


i1 = Investor("Mary", 20, 1200)
i2 = Investor("Clara", 28, 2300)

print(i2 < i1)

False

In [ ]:
from dataclasses import dataclass
from typing import ClassVar


@dataclass
class Person:
    truc: ClassVar[int]

### Defaultdict

In [ ]:
references: dict[str, set[int]] = dict()

with open("fichier.txt", "r", encoding="utf-8") as fichier:
    contenu = fichier.read().split("\n")

for numero, ligne in enumerate(contenu):
    for mot in ligne.split():
        references[mot].add(numero)

In [ ]:
for numero, ligne in enumerate(contenu):
    for mot in ligne.split():
        if mot in references.keys():
            references[mot].add(numero)
        else:
            references[mot] = {numero}

In [ ]:
for numero, ligne in enumerate(contenu):
    for mot in ligne.split():
        try:
            references[mot].add(numero)
        except KeyError:
            references[mot] = {numero}

In [5]:
from collections import defaultdict

d = defaultdict(int)  # dictionnaire qui crée un entier par défaut
d["a"] += 1
print(d["a"])

1

In [ ]:
references = defaultdict(set)
for numero, ligne in enumerate(contenu):
    for mot in ligne.split():
        references[mot].add(numero)